body {
	background-color: #F7D5B1;
	font-size: 100%
}

#title {
	color: #E7B2B5;
	font-size: 1.5em;
	font-family:'Pacifico', cursive;
}

#mainColumn {
	margin: 0 auto;
	width: 90%;
}
#nav {
	width: 20%;
	float: left;
	background-color: #F7E3CD;
	padding: 0 .25em;
	font-family: 'Quicksand', sans-serif;
}
#nav h2{
	font-size:1em;
}
#content {
	float: left;
	width: 75%;
	background-color:#F7E3CD;
	padding: 1em;
	font-family: 'Quicksand', sans-serif;
}
#illustration {
	text-align: center;
	float: right;
}
a {
	color: #B1897F;
}
